.newslist-row {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 0.75rem 2rem;
}

.newslist-row.expanded {
  transform: translateZ(0);
}

.newslist-row.ng-enter {
  opacity: 0;
  transform: translateY(-0.5rem);
  transition: opacity linear 0.5s, transform ease-out 0.2s;
}

.newslist-row.ng-enter-stagger {
  transition-delay: 0.025s;
}

.newslist-row.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.newslist-row:hover {
  background-color: #fafafa;
}


.newslist-item-content {
  transition: transform ease-out 0.5s;
}

.newslist-row.expanded .newslist-item-content {
  transform: translate3d(1rem, 0, 0);
}

.newslist-item-flair {
  background-color: #16a085;
  height: 100%;
  position: absolute;
  transform: translateX(-4rem);
  transition: transform ease-out 0.5s;
  width: 0.4rem;
}

.newslist-row.expanded .newslist-item-flair {
  transform: translateX(-3rem);

}

.newslist-item-date {
  font-size: .8rem;
  text-transform: uppercase;
}

.newslist-item-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.newslist-row.read:not(.expanded) .newslist-item-title {
  color: #888;
}

.newslist-item-full-content {
  padding-top: 1rem;
}

.newslist-item-full-content.ng-enter {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity linear 0.5s 0.2s, transform ease-out 0.2s;
}

.newslist-item-full-content.ng-enter-active {
  opacity: 1;
  transform: scaleY(1);
}

.newslist-item-full-content.ng-leave {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity linear 0.1s, transform ease-out 0.2s 0.1s;
}

.newslist-item-full-content.ng-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.newslist-item-summary {
  line-height: 1.5;
  padding-bottom: 1rem;
}

.newslist-item-link {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.newslist-overlay {
  background-color: #fff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
}

.newslist-overlay.ng-enter {
  opacity: 0;
  transition: opacity linear 0.5s;
}

.newslist-overlay.ng-enter-active {
  opacity: 0.5;
}
