<div class="page">

  <div class="newsslide-content">

    <slide-show items="news"></slide-show>

    <p class="newsslide-description">
      Optimized for desktop due to the use of mouse hover states. News items will rotate every 5 seconds. Details for an item are shown when hovering over it, and the slide show will also be paused then. The rotation will continue when exiting the mouse from the item.

    <p>The size of the actual slide show widget was kept quite small due to image sizes from DN being small, and I didn't want to up scale them to much.

  </div>

</div>